<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406626587302-n8okph1n2br5m4akjg8hpfk3bc1lhg6u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406626587302-n8okph1n2br5m4akjg8hpfk3bc1lhg6u</string>
	<key>API_KEY</key>
	<string>AIzaSyBcYXh4NDWAbFtJNU5kdJ9G4YwlZB8YW1M</string>
	<key>GCM_SENDER_ID</key>
	<string>406626587302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diplom</string>
	<key>PROJECT_ID</key>
	<string>diplom-f06ae</string>
	<key>STORAGE_BUCKET</key>
	<string>diplom-f06ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406626587302:ios:1ea1e0b4bc329749355a67</string>
	<key>DATABASE_URL</key>
	<string>https://diplom-f06ae-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>